.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
}

.start {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.min-height {
    min-height: 400px;
}